
@{
    ViewBag.Title = "CrearExpediente";
}
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <section style="background-color: #eee;">
                    <div class="container my-5 py-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12 col-lg-10 col-xl-8">
                                <div class="card">
                                    <div class="card-body">


                                        <div class="form-group">
                                            <input type="number" class="form-control form-control-user"
                                                   id="exampleInputID" aria-describedby="IDHelp"
                                                   placeholder="Cédula del paciente">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   id="exampleInputPadecimiento" aria-describedby="PadecimientoHelp"
                                                   placeholder="Padecimiento">
                                        </div>

                                    </div>
                                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                        <div class="d-flex flex-start w-100">

                                            <div class="form-outline w-100">
                                                <textarea class="form-control" id="textAreaExample" rows="4"
                                                          style="background: #fff;"></textarea>
                                                <label class="form-label" for="textAreaExample">Tratamiento y detalles</label>
                                            </div>
                                        </div>
                                        <div class="float-end mt-2 pt-1">
                                            <a href="/">
                                                <button type="button" class="btn btn-primary btn-sm">Guardar Expediente</button>
                                            </a>
                                            <a href="/">
                                                <button type="button" class="btn btn-outline-primary btn-sm">Regresar</button>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>

    </div>
    </body>

