@model G7.Models.UsuarioObj
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-4 login-sec">

            <h2 class="text-center">Iniciar sesión</h2>


            @using (Html.BeginForm("ValidarAcceso", "Home", FormMethod.Post))


            {
                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text">Correo</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @type = "text" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text">Contraseña</label>
                        @Html.TextBoxFor(m => m.Contrasenna, new { @class = "form-control", @placeholder = "Contraseña", @type = "password" })
                    </div>


                    <div class="form-check">

                        <button type="submit" class="btn btn-login float-right">Siguiente</button>
                    </div>
                </form>
            }


            <!------<div class="copy-text">Created with <i class="fa fa-heart"></i> by Grafreez</div>---------->
        </div>
        <div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="~/img/Mossa-icon.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="banner-text">
                                <h2>MOSSA</h2>
                                <p>Fisio Estética</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
