
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Sure! Here's an example of how you can center the carousel inside a container using Bootstrap classes:

html
Copy code
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div id="card-carousel" class="carousel slide" data-bs-ride="carousel" style="width: 620px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card d-flex justify-content-center" style="width: 620px; height: 820px; margin: 0 auto;">
                    <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/285377596_434535542005284_6227789948159842479_n.jpg?stp=dst-jpg_s720x720&_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=nK_6wEbcLucAX-YT2iA&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfDLHKfDI_SxqTKkVvNJPZRiVokkckaSp_Hi-mWfEKBt2w&oe=640ACDC6" class="card-img-top rounded" style="object-fit: fill; width: 620px; height: 820px; border: solid 1px #CCC">
                </div>
            </div>
            <div class="carousel-item">
                <div class="card d-flex justify-content-center" style="width: 620px; height: 820px; margin: 0 auto;">
                    <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/289731076_450067247118780_8368985277295065696_n.jpg?stp=dst-jpg_s720x720&_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=V-KeYxwozIsAX_q-ZJX&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfAmmTTt52uZaYFNZiH6CbG3HiphkvnrF4tdZ-myZ3ipRQ&oe=6408FF20" class="card-img-top rounded" style="object-fit: fill; width: 620px; height: 820px; border: solid 1px #CCC ">
                </div>
            </div>
            <div class="carousel-item">
                <div class="card d-flex justify-content-center" style="width: 620px; height: 820px; margin: 0 auto;">
                    <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/284212869_431639995628172_4020688070535328099_n.jpg?stp=dst-jpg_s720x720&_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=Eb4gUW3SQzsAX9myEMO&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfAP7djsCktgEdf2n1-yuzddmnqdul9JdOF6OCrk2HiSFQ&oe=640A9EE7" class="card-img-top rounded" style="object-fit: fill; width: 620px; height: 820px; border: solid 1px #CCC ">
                </div>
            </div>
            <div class="carousel-item">
                <div class="card d-flex justify-content-center" style="width: 620px; height: 820px; margin: 0 auto;">
                    <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/283423462_428323622626476_29826453509120999_n.jpg?stp=dst-jpg_s600x600&_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=R8RLMmlBZTcAX-1L2F0&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfAu039fvkowToLUsjARzmaqj1XGORCxbROB7bnKtE4DAw&oe=640ABB8F" class="card-img-top rounded" style="object-fit: fill; width: 620px; height: 820px; border: solid 1px #CCC ">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#card-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden text-dark"><</span>
        </a>
        <a class="carousel-control-next" href="#card-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden text-dark">></span>
        </a>

    </div>
</div>
